  <%= render 'shared/error_messages' %>
  <div class="form-group">
    <%= f.label :username, "Kullanıcı adı", class: "col-md-3 control-label" %>
    <div class="col-md-6">
      <%= f.text_field :username, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :fullname, "İsim", class: "col-md-3 control-label" %>
    <div class="col-md-6">
      <%= f.text_field :fullname, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email, "E-mail", class: "col-md-3 control-label" %>
    <div class="col-md-6">
      <%= f.text_field :email, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :password, "Şifre", class: "col-md-3 control-label" %>
    <div class="col-md-6">
      <%= f.password_field :password, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, "Şifre (tekrar)", class: "col-md-3 control-label" %>
    <div class="col-md-6">
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
  </div>

